<div class="container-desktop">
    <div class="header-left">
     <img src="../../assets/Resources/icons/menu.svg"/>
     <img src="../../assets/Resources/icons/Büntető.com.svg"/>
     <img src="../../assets/Resources/icons/interjúk.svg"/>
     <img src="../../assets/Resources/icons/elemzések.svg"/>
     <img src="../../assets/Resources/icons/kúltúra.svg"/>
     <img src="../../assets/Resources/icons/labdarúgás.svg"/>
     <img src="../../assets/Resources/icons/amerikai sportok.svg"/>

    </div>
    <div class="header-right">
        <img src="../../assets/Resources/icons/search.svg"/>
        <img src="../../assets/Resources/icons/messages.svg"/>
        <img src="../../assets/Resources/icons/notification.svg"/>
        <img src="../../assets/Resources/icons/user.svg"/>
    </div>
</div>
